<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="vbRecruiter.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <vbRecruiter.My.MySettings>
            <setting name="UserName" serializeAs="String">
                <value>acesOverKings</value>
            </setting>
            <setting name="PW" serializeAs="String">
                <value>Play1000</value>
            </setting>
            <setting name="URL" serializeAs="String">
                <value>https://prepvolleyball.com/articles/college-articles/college-needs-list/13423</value>
            </setting>
            <setting name="HomeAddress" serializeAs="String">
                <value>Richmond, TX</value>
            </setting>
        </vbRecruiter.My.MySettings>
    </userSettings>
</configuration>
